@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 131 140 149;
  --background-rgb: 255 255 255;
  --color-alt-background: 43 43 43;
  --color-primary: 49 49 49;
  --color-secondary: 122 122 122;
  --color-accent: 68 68 68;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255 255 255;
    --background-rgb: 17 17 17;
    --color-alt-background: 43 43 43;
    --color-primary: 255 255 255;
    --color-secondary: 122 122 122;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.before:table::before .after:table::after {
  content: ' ';
  display: table;
}

.after:clear-both::after {
  clear: both;
}
